//
   Created by Administrator on 2016/4/25.

extends ./layout

block head
    link(rel="stylesheet" href="/css/admin.css")

block body
    <!-- Following Menu -->
    .ui.large.top.fixed.hidden.menu
        .ui.container
            a.item 计算机与通信学院培训管理系统
            .right.menu
                .item
                    div
                        a.ui.basic.image.label
                            img(src="/images/avatar/small/elliot.jpg" alt="管理员")
                            | 欢迎，管理员
    <!-- Page Contents -->
    .adminer
        .ui.container.panel
            .ui.equal.width.stretched.grid
                .column
                    .ui.segment
                        a(class="ui right pointing basic teal ribbon label") Operation
                        | 计通学院
                        p
        .ui.container
            .ui.special.cards
                - var systemArr = [{'title':'实习指导教师管理','url':'/admin/teaManager'},{'title':'实习基地管理','url':'/admin/comManager'},{'title':'学生管理','url':'/admin/stuManager'},{'title':'新闻管理','url':'/admin/news'},{'title':'留言信息管理','url':'/admin/message'}];
                - var describArr = ['实习指导教师管理','实习基地管理','学生管理','新闻管理','留言信息管理'];
                - each obj,key in systemArr
                    .card
                        .blurring.dimmable.image
                            .ui.inverted.dimmer
                                .content
                                    .center
                                        a.ui.primary.button(href=obj.url) do it
                            img(src="images/wireframe/image.png")
                        .content
                            a.header #{obj.title}
                            .meta
                                span.date #{describArr[key]}
                        .extra.content
                            a
                                i.users.icon
                                | 2 Members
                .card
                    .blurring.dimmable.image
                        .ui.inverted.dimmer
                            .content
                                .center
                                    .ui.primary.button do it
                        img(src="images/wireframe/image.png")
                    .content
                        a.header 设置
                        .meta
                            span.date 修改密码
                    .extra.content
                        a
                            i.configure.icon
                            | Will be better
    script(src="/js/admin.js")
