//
   Created by Administrator on 2016/4/25.

extends ./layout

block head
    link(rel="stylesheet" href='/css/top.css')
    link(rel="stylesheet" href="/css/admin.css")

block body
    include ./top
    //- Page Contents
    .adminer
        .ui.container.panel
            .ui.equal.width.stretched.grid
                .column
                    .ui.segment
                        a(class="ui right pointing basic teal ribbon label") Operation
                        | 计通学院
                        p
        .ui.container
            .ui.special.cards
                - var systemArr = [{'title':'实习指导教师管理','url':'/admin/teacher'},{'title':'实习基地管理','url':'/admin/companies'},{'title':'学生管理','url':'/admin/student'},{'title':'新闻管理','url':'/admin/news'},{'title':'留言信息管理','url':'/admin/message'}];
                - var describArr = ['实习指导教师管理','实习基地管理','学生管理','新闻管理','留言信息管理'];
                - each obj,key in systemArr
                    .card
                        .blurring.dimmable.image
                            .ui.inverted.dimmer
                                .content
                                    .center
                                        a.ui.primary.button(href=obj.url) do it
                            img(src="images/wireframe/image.png")
                        .content
                            a.header #{obj.title}
                            .meta
                                span.date #{describArr[key]}
                        .extra.content
                            a
                                i.users.icon
                                | 2 Members
                .card
                    .blurring.dimmable.image
                        .ui.inverted.dimmer
                            .content
                                .center
                                    a.ui.primary.button(href="/admin/setting") do it
                        img(src="images/wireframe/image.png")
                    .content
                        a.header(href="/admin/setting") 设置
                        .meta
                            span.date 修改密码
                    .extra.content
                        a
                            i.configure.icon
                            | Will be better
    script(src="/js/admin.js")
