doctype html
html
  head
    title koa-demo
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.1.8/components/component-name.min.css")

    link(rel="stylesheet", href="/lib/semantic.min.css")
    script(type="javacscript" src="/lib/semantic.min.js")

  body
    block body