//-Created by Administrator on 2016/4/30.

.ui.basic.modal.baderror
    i.close.icon
    .ui.icon.header
        i.frown.icon
        | 喔唔，出错了QAQ
    .content(style="text-align: center;")
        p  尝试刷新，是否能解决这个问题。


.ui.basic.modal.notfound
    i.close.icon
    .ui.icon.header
        i.meh.icon
        | 404
    .content(style="text-align: center;")
        p  请确认是否输入有误


.ui.modal.confirm
    i.close.icon
    .ui.icon.header
        i.smile.icon
        | 确认此操作
    .content(style="text-align: center;")
        p 想好了吗？没想好再想想~，~
    .actions
        .ui.approve.button.primary 想好了
        .ui.cancel.button 没想好
