//-Created by Administrator on 2016/5/7.

extends ./layout
block head
    link(href='/css/top.css' rel="stylesheet")
    link(href='/css/teacher.css' rel='stylesheet')
block body
    include ./top
    - var res = result ? JSON.stringify(result) : 0
    .news.add.update
        .ui.container
            .ui.piled.segment
                h4.ui.header
                    .ui.breadcrumb
                        a.section(href="/admin") 首页
                        i.right.angle.icon.divider
                        a.section(href="/admin/news") 新闻管理
                        i.right.angle.icon.divider
                        - if(result && result.status && result.status.code == 200)
                            .active.section 修改
                        - else
                            .active.section 添加
                form.ui.form
                    .field.required
                        label 标题
                        input(type="text" name="title" placeholder="新闻标题")
                    .field.required
                        label 内容
                        //-input(type="text" name="content" placeholder="新闻内容")
                        textarea(name="content" placeholder='新闻内容')
                    .ui.segment.required
                        .field
                            .ui.toggle.checkbox
                                input(type="checkbox" tabindex="0" class="hidden" name="status" value="")
                                label 新闻状态可用
                    .ui.error.message
                    button.ui.button.primary.submit 提交
    include ./modal
    script.
        window.res = !{res};
    script(src='/js/admin-news.js')