//-Created by Administrator on 2016/4/29.

.ui.large.top.fixed.hidden.menu
    .ui.container
        a.item(href="/admin") 计算机与通信学院培训管理系统
        .right.menu
            .item
                div
                    a.ui.basic.image.label
                        img(src="/images/avatar/small/elliot.jpg" alt="管理员")
                        | 欢迎，管理员
