//-Created by Administrator on 2016/5/25.

.ui.large.top.fixed.hidden.menu
    .ui.container
        a.item(href="/student") 学生管理系统
        .right.menu
            .item
                div
                    a.ui.basic.image.label
                        img(src="/images/avatar/small/elliot.jpg" alt="学生")
                        | 欢迎，学生