//-Created by Administrator on 2016/5/23.

.ui.large.top.fixed.hidden.menu
    .ui.container
        a.item(href="/company") 培训基地管理系统
        .right.menu
            .item
                div
                    a.ui.basic.image.label
                        img(src="/images/avatar/small/elliot.jpg" alt="管理员")
                        | 欢迎，负责人