//-Created by Administrator on 2016/5/27.

.ui.large.top.fixed.hidden.menu
    .ui.container
        a.item(href="/teacher") 老师管理系统
        .right.menu
            .item
                div
                    a.ui.basic.image.label
                        img(src="/images/avatar/small/elliot.jpg" alt="老师")
                        | 欢迎，老师
